samples/A.ELANGO_Horoscope.xml1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="Ashtavarga" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Chart" type="ash:ChartType" xmlns:ash="Ashtavarga"/>
  <xs:complexType name="ChartType">
    <xs:sequence>
      <xs:element type="ash:HouseType" name="House" maxOccurs="unbounded" minOccurs="0" xmlns:ash="Ashtavarga"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="Name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="HouseType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="No" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>